@{
    ViewData["Title"] = "Book List";
}
@model BookListViewModel


<!--Header-->
<header class="card-header text-center">
    <h1>@ViewData["Title"]</h1>
</header>
<br />
<br />

<!--Create card for each book-->

@foreach (var x in Model.Books)
{
    <!--display partial view for each book-->
    <partial name="BookSummary" model="x" />
}

<!--page navigation-->
<!--set page classes enabed to true-->
<div page-model="@Model.PagingInfo" page-action="Index" 
     page-classes-enabled="true" 
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right">
</div>

